{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    
        <title>{% block page_title %}Главная{% endblock %}</title>
    </head>
    <body>

        <!-- Header -->
        <header class="header">
            <nav>
                <div class="container">
                    <div class="navbar">
                        <ul class="navbar__menu menu">
                            {% if user.profile.status == 2 %}
                            <li class="menu__item" data-page="staff"><a href="{% url 'staff' %}" class="menu__item-link">сотрудники</a></li>
                            <li class="menu__item" data-page="products"><a href="{% url 'products' %}" class="menu__item-link">Товары</a></li>
                            <li class="menu__item" data-page="provider"><a href="{% url 'providers' %}" class="menu__item-link">Поставщики</a></li>
                            <li class="menu__item" data-page="archive"><a href="{% url 'archive' %}" class="menu__item-link">Архив</a></li>
                            {% endif %}
                            {% if user.profile.status == 1 %}
                            <li class="menu__item" data-page="application"><a href="{% url 'applications' %}" class="menu__item-link">Заявки</a></li>
                            <li class="menu__item" data-page="archive"><a href="{% url 'archive' %}" class="menu__item-link">Архив</a></li>
                            <li class="menu__item" data-page="provider"><a href="{% url 'providers' %}" class="menu__item-link">Поставщики</a></li>
                            {% endif %}
                            {% if user.profile.status == 0 %}
                            <li class="menu__item" data-page="application"><a href="{% url 'applications' %}" class="menu__item-link">Заявки</a></li>
                            <li class="menu__item" data-page="archive"><a href="{% url 'archive' %}" class="menu__item-link">Архив</a></li>
                            {% endif %}
                            <li class="menu__item" data-page="profile"><a href="{% url 'edit' %}" class="menu__item-link">Профиль</a></li>
                            <div class="menu__item-btns">
                                <a href="#" class="btn btn-login">войти</a>
                            </div>
                        </ul>
                        <div class="navbar__login">
                            {% if user.is_authenticated %}
                            <a href="#">{{ user.email }}</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="btn btn-login">войти</a>
                            {% endif %}
                        </div>
                        <div class="burger">
                            <span></span>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            
            {% block main %}
            {% endblock %}

        </main>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>